parameters:
    tipsOfTheDay: false
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - web/themes/custom
        - web/modules/custom
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
        - '#Plugin definitions cannot be altered.#'
        - '#Missing cache backend declaration for performance.#'
        - '#Plugin manager has cache backend specified but does not declare cache tags.#'
        - identifier: missingType.iterableValue
    excludePaths:
        - *Test.php
        - *TestBase.php
        - */tests/Drupal/Tests/Listeners/Legacy/*
        - */tests/fixtures/*.php
        - */settings*.php
        - */bower_components/*
        - */node_modules/*
        - */default.settings*.php
    bootstrapFiles:
        - ./vendor/mglaman/drupal-check/error-bootstrap.php
